body{
	padding: 90px 0 0 0;
	border : 1vh solid white;
	z-index: 7;
	background-color: rgba(255,255,255,0);
}

h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	font-weight: bold;
	position: relative;
}
p{
	font-size: 20px ;
}
li{
	font-size: 20px ;
}
#linkedin{
	height: 30px;
	width: 30px;
}
.navbar-nav .nav-item a{
	color: white;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12pt;
	text-transform: uppercase;
	z-index: 6;	
}
.navbar-nav .nav-item a:hover{
	text-decoration: underline;
	color: black;	
}

a:visited{
	color: white;
}

.navbar-default{
	background: rgba(102,0,180,1); 
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12pt;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    text-decoration-color: white;
    text-decoration-line: underline;
    font-size: 12pt;
    font-weight: 700;
	vertical-align: middle;
	 
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-link{
	padding: .2rem 1rem;
}

.navbar {
  min-height: 56px;
  padding: 0;
}

.dropup , .dropright , .dropdown , .dropleft{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#footer{
	padding: 10px;
	width: 100%;
	height: 3rem;            
	text-align: center;
	background-color: #000;
	color: white;
}


@media (max-width: 1000px)
{
	h1{
		padding:10px;
	}
	.navbar-nav .nav-item a{
		font : bold 26px poppins;
		text-transform: uppercase;
		z-index: 6;
		color: #fff;	
	}
	
	.navbar-brand{
		padding: 0 600px 0 0 ;
		color: #000;
	}

	.navbar-default{
		background: none; 
	}

	.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	    color: white;
	    text-decoration-color: white;
	    text-decoration-line: underline;
	    font-size: 30px;
	    vertical-align: middle;
	}
	.w-10x{
		height: auto;
		width:100%;
	}

	.navbar-light .navbar-toggler{
		display: inline-block;
		top:20px;
	}

	#navbarSupportedContent.navbar-collapse.collapse.show{
		position: relative;
		display: inline-block;
		width: 200px;
	}


	ul.navbar-nav.ml-auto{
		background-color: rgba(0,0,0,0.8);
		position: relative;
		height: 90vh;
		width: 40vw;
		top: 4vh;
		align-self: baseline;
		justify-content: center;
		margin: 0 60vw 0 0;

	}
	.navbar-light .navbar-toggler-icon{
		background-image: url("../images/ic.png");
		background-size: 100px 100px;
	}
		#navbarSupportedContent.navbar-collapse.collapse.show{
		
		position: relative;
		display: inline-block;
		width: 200px;
		
	}
	ul.navbar-nav.ml-auto li{
		display: flex;
		position: relative;
		height: 10vh;
		list-style-position: inside;
		justify-content: center;
		align-items: left;
		font-size: 30px;
	}
	.navbar-collapse{
		flex-basis: 90vh;
		flex-align:bottom;
	}

	.navbar-nav.ml-auto{
		background:rgba(0,0,0,1);
		height: 80vh; 
	}
		
	.navbar-toggler{
		padding: 1px 5px;
		font-size: 18px;
		line-height: 0.3;
		background:rgba(0,0,0,0);
		width: 50px;
		height: 50px; 
	}
		
	.navbar-light .navbar-nav .nav-link {
	    color: #fff;
	}

	.navbar-toggler-icon span{
		display: none;
	}

	#yy{
		right:20px;
		top: 20px;
	}

.container{
	max-width: 90vw;
}
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin : 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.btn{
	margin: 0 20px 0 20px;
}
