body{
	
	background-size: cover;
	z-index: 7;
}


.navbar-brand{
  padding: 0 170px;
  color: #DCDCDC;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  font-family: "Times New Roman", Times, serif;
}

#carouselExampleCaptions{
	top: 60px;
	height: 83vh;
  	border:20px solid black;
  	box-shadow: 10px 10px 10px #333333;
  	background-color: black;
}

.carousel-inner > .carousal-item > img{
	margin: auto;
	width: 100%;
}
.carousel-inner img {
	margin: auto;
  }
.carousel-item {			
	height: 77vh;

}

.carousel-control-prev,.carousel-control-next{
	width: 60px;
	height: 60px;
	background-color: #000;
	border-radius: 50%;
	top: calc(50% - 25px);
	opacity: 0.7;
}

.carousel-control-prev{
	left: 5%;
}

.carousel-control-next{
	right: 5%;
}

.carousel-caption {
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 7;
    color: #fff;
    text-align: center;
    height: 8vh;
}

h5{
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}

#linkedin{
	height: 30px;
	width: 30px;
}

.navbar {
  min-height: 56px;
  padding: 0;
}

.navbar-nav .nav-item a{
	color: white;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12pt;
	text-transform: uppercase;
	z-index: 6;	
}
a:visited{
	color: white;
}

.navbar-nav .nav-item a:hover{
	text-decoration: underline;
	color: black;	
}

.navbar-default{
	background: rgba(102,0,180,1); 
	 
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    text-decoration-color: white;
    text-decoration-line: underline;
    font-size: 12pt;
    font-weight: 700;
	vertical-align: middle;
	
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-link{
	padding: .2rem 1rem;
}


.w-10x{
	height: 100%;
	width:auto;
}

.dropup , .dropright , .dropdown , .dropleft{
	padding-top: 4px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

@media (max-width: 1000px) 
{
	#welcome{
	font:bold 48px cursive;
	color:rgba(255,255,255,1);
	z-index: 3;
}
	.navbar-nav .nav-item a{
	font : bold 26px poppins;
	text-transform: uppercase;
	z-index: 6;
	color: #fff;
}

.navbar-brand{
	padding: 0 600px 0 0 ;
	color: #000;
}

.navbar-default{
	background: none; 
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    text-decoration-color: white;
    text-decoration-line: underline;
    font-size: 30px;
    vertical-align: middle;
}
.w-10x{
	width:100%;		
	height: auto;
	
}

.navbar-light .navbar-toggler{
	display: inline-block;
	top:20px;
}

#navbarSupportedContent.navbar-collapse.collapse.show{
	position: relative;
	display: inline-block;
	width: 200px;
}


ul.navbar-nav.ml-auto{
	background-color: rgba(0,0,0,0.8);
	position: relative;
	height: 90vh;
	width: 40vw;
	top: 4vh;
	align-self: baseline;
	justify-content: center;
	margin: 0 60vw 0 0;

}
.navbar-light .navbar-toggler-icon{
	background-image: url("../images/ic.png");
	background-size: 100px 100px;
}
	#navbarSupportedContent.navbar-collapse.collapse.show{
	
	position: relative;
	display: inline-block;
	width: 200px;
	
}
ul.navbar-nav.ml-auto li{
	display: flex;
	position: relative;
	height: 10vh;
	list-style-position: inside;
	justify-content: center;
	align-items: left;
	font-size: 30px;
}
.navbar-collapse{
	flex-basis: 90vh;
	flex-align:bottom;
}
	.navbar-nav.ml-auto{
		background:rgba(0,0,0,1);
		height: 80vh; 
	}
	


	.navbar-toggler{
		padding: 1px 5px;
		font-size: 18px;
		line-height: 0.3;
		background:rgba(0,0,0,0);
		width: 50px;
		height: 50px; 
	}
	
	.navbar-light .navbar-nav .nav-link {
    	color: #fff;
	}


	.navbar-toggler-icon span{
		display: none;

	}
	#yy{
	
	right:20px;
	top: 20px;
}

}


@media screen and  (orientation: portrait) {

	#welcome{
	font:bold 48px cursive;
	color:rgba(255,255,255,1);
	z-index: 3;
}
	.navbar-nav .nav-item a{
	font : bold 26px poppins;
	text-transform: uppercase;
	z-index: 6;
	color: #fff;
}

.navbar-brand{
	padding: 0 600px 0 0 ;
	color: #000;
}

.navbar-default{
	background: none; 
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    text-decoration-color: white;
    text-decoration-line: underline;
    font-size: 30px;
    vertical-align: middle;
}
.w-10x{
	width:100%;		
	height: auto;
	
}

.navbar-light .navbar-toggler{
	display: inline-block;
	top:20px;
}

#navbarSupportedContent.navbar-collapse.collapse.show{
	position: relative;
	display: inline-block;
	width: 200px;
}


ul.navbar-nav.ml-auto{
	background-color: rgba(0,0,0,0.8);
	position: relative;
	height: 90vh;
	width: 40vw;
	top: 4vh;
	align-self: baseline;
	justify-content: center;
	margin: 0 60vw 0 0;

}
.navbar-light .navbar-toggler-icon{
	background-image: url("../images/ic.png");
	background-size: 100px 100px;
}
	#navbarSupportedContent.navbar-collapse.collapse.show{
	
	position: relative;
	display: inline-block;
	width: 200px;
	
}
ul.navbar-nav.ml-auto li{
	display: flex;
	position: relative;
	height: 10vh;
	list-style-position: inside;
	justify-content: center;
	align-items: left;
	font-size: 30px;
}
.navbar-collapse{
	flex-basis: 90vh;
	flex-align:bottom;
}
	.navbar-nav.ml-auto{
		background:rgba(0,0,0,1);
		height: 80vh; 
	}
	


	.navbar-toggler{
		padding: 1px 5px;
		font-size: 18px;
		line-height: 0.3;
		background:rgba(0,0,0,0);
		width: 50px;
		height: 50px; 
	}
	
	.navbar-light .navbar-nav .nav-link {
    	color: #fff;
	}


	.navbar-toggler-icon span{
		display: none;

	}
	#yy{
	
	right:20px;
	top: 20px;
}
	.container{
		padding: 0 0;
		margin: 0 0;
	}
	#carouselExampleCaptions{
		top: 8%;
		height: 80vh;
		width: 100vw;
		display: flex;
		align-items: center;
		background: white;
		border:20px solid white;
	  	box-shadow: 10px 10px 10px #fff;
	  	background-color: white;
	}
	#carouselExampleCaptions:hover {
		background: black;
		border:20px solid black;
	  	box-shadow: 10px 10px 10px #333333;
	  	background-color: black;
	}
	
	.carousel-item {
		top: 100%;			
		height: 100%;
		min-width: 300px;
		align-items: middle;
		vertical-align: middle;

	}
	.w-10x{
		height: auto;
		width:100%;
		vertical-align: middle;
	}
	.carousel-inner img {
		height: 100%;
		width: 100%;
		margin: auto;
		vertical-align: middle;
		
	}

}
